{% import 'tag_format.jinja2' as macros %}
# {{ title }}

{% if description %}
{{ description|wordwrap() }}
{% endif %}

{% if unreleased %}
## [Unreleased]

{{ macros.commit_list_format(unreleased) }}
{% endif %}

{% for tag in tags %}
## {{ tag.name }} ({{ tag.date.strftime('%Y-%M-%d') }})

{{ macros.commit_list_format(tag) }}

{% endfor %}
