{% macro print_group(tag, group, title) %}
{% if group in tag.groups %}
### {{ title }}
{% for commit in tag.groups[group] %}
- {{ "[" + commit.specific + "] " if commit.specific }}{{ commit.description.strip() }}
{% endfor %}

{% endif %}
{% endmacro %}


{% macro commit_list_format(tag) %}
{{ print_group(tag, 'feat', 'New Features') }}
{{ print_group(tag, 'fix', 'Bug Fixes') }}
{{ print_group(tag, 'refactor', 'Refactoring') }}
{{ print_group(tag, 'perf', 'Performance Enhancements') }}
{{ print_group(tag, 'docs', 'Documentation Changes') }}
{{ print_group(tag, 'chore', 'Administration and Chores') }}
{% endmacro %}
